.toggle-switch{
    background-color: whitesmoke;
    width:5rem;
    height:2rem;
    border-radius: 15rem 15rem;
    margin-top: 1.2rem;
    margin-left: 1.5rem;
}
.switch{
    height:1.5rem;
    width:1.5rem;
    border-radius:50%;
    position: relative;
    top:0.25rem; 
    left:0.6rem;
    transition: transform 0.5s ease-in-out;
}
.Text{
    position: absolute; 
    top:2rem;
    left:1.7rem;
    font-size: 1.5rem;
    color: white;
}
.On{
    background-color: black;
    transform: translateX(2.4rem);
}
.Off{
    background-color: white;
    transform: translateX(0rem);
}
